[tool.poetry]
name = "tacview-client"
version = "0.1.22"
description = ""
authors = ["mcdelaney <mcdelaney@gmail.com>"]
repository = "https://github.com/mcdelaney/py-tacview-client.git"

[tool.poetry.dependencies]
python = "^3.7"
sqlalchemy = "^1.3.15"
uvloop = "^0.14.0"
asyncpg = "^0.20.1"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
yappi = "^1.2.3"
jupyter = "^1.0.0"
alembic = "^1.4.2"
pytest-asyncio = "^0.10.0"

[tool.poetry.scripts]
tacview = "tacview_client.cli:main"

[tool.poetry.urls]
issues = "https://github.com/mcdelaney/py-tacview-client/issues"
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

